/*******************************************************************************
//      %name: MessageMain.css %
//      %version: 20 %
//      Copyright: Copyright 2012 BAE Systems Australia
//                 All rights reserved.
********************************************************************************/

 
/**** message LIST ****/
#message-list-wrap { border-right:1px solid #DADADA; overflow: hidden; height:640px}
#message-search {border-bottom:1px solid #dadada; padding:8px 10px;}
#message-search form input#search-inbox {background:url(~/images/bg-search.png) top left no-repeat; width:241px; height:18px; padding:5px 5px 5px 25px; border:none; color:#525252; font-size:12px;}
#message-search form a#advance-search img {vertical-align:middle; margin:0 0 0 4px;}

#message-sort {padding:10px; overflow:hidden;}
#message-sort p {margin:0;}
#message-sort p a {font-size:13px; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; color:#3c3c3c;}
#message-sort #sort-by {float:left; background:url(~/images/bg-arrow_down.png) right 8px no-repeat; padding-right:15px}
#message-sort #sort-order {float:right;}


#messageList {}
#messageList .listGroupheader {background:#f0f4f5; padding:10px; text-align:center; text-transform:uppercase; border-bottom:1px solid #dadada;}
#messageList .listGroupheader h2 {text-transform:uppercase; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; margin:0}
#messageList .message {border-bottom:1px solid #dadada; padding:10px 0 10px 10px;  overflow:hidden; background:#fff; }
#messageList .message:hover {background:#ccc url(~/images/bg-message_hover.png);}
#messageList .message .message-icon {width:25px; float:left; min-height:50px; height:auto!important; height:50px;}
#messageList .message .message-summary {float:left; width:80%; }
#messageList .message .message-summary h3 {font-weight:normal; font-family: Arial, Helvetica, sans-serif; font-size:13px; margin:0 3px 5px 0;text-overflow:ellipsis;white-space:nowrap;overflow:hidden; }
#messageList .message .message-summary h3 a {color:#0a0505;}
#messageList .message .message-summary p.sender {margin:0 0 5px 0; color:#858585; font-size:12px;}
#messageList .message .message-summary p.DTG {margin:0; color:#858585; font-size:12px; text-transform:uppercase;}
#messageList .message .message-summary span.date {float:right;margin:0; margin-top:-18px; color:#858585; font-size:12px; text-transform:uppercase;}
#messageList .message .message-precedence { float:right; width:25px;}


/* message icon */
#messageList .message.unread .message-summary h3 {font-weight:bold;}
#messageList .message .message-icon .icon-status,
#messageList .message .message-icon .icon-attachment,
#messageList .message .message-precedence .icon-precedence {background:url(~/images/bg-message_icon.png) no-repeat;margin:2px 0 8px;}

#messageList .message.reply .message-icon .icon-status {background-position:-18px 0; width:17px; height:16px; display:block; }
#messageList .message.forward .message-icon .icon-status {background-position:-37px 0; width:17px; height:16px; display:block; }
#messageList .message.release .message-icon .icon-status {background-position:-58px 0; width:12px; height:16px; display:block; }

#messageList .message.action.flash .message-icon .icon-status {background-position:-1px -23px; width:18px; height:18px; display:block; }
#messageList .message.action .message-icon .icon-status {background-position:-1px -42px; width:18px; height:18px; display:block; }

#messageList .message.attachment .message-icon .icon-attachment {background-position:0 0; width:17px; height:16px; display:block; }

#messageList .message.flash .message-precedence .icon-precedence {background-position:0 -73px; width:16px; height:23px; display:block; }
#messageList .message.immediate .message-precedence .icon-precedence {background-position:-17px -73px; width:16px; height:23px; display:block; }
#messageList .message.priority .message-precedence .icon-precedence {background-position:-34px -73px; width:16px; height:23px; display:block; }
#messageList .message.routine .message-precedence .icon-precedence {background-position:-51px -73px; width:16px; height:23px; display:block; }

/*______________________________________________________________________________________________________________________________________*/

#message-content{}


ul.messageMenu li { list-style: none;display: inline;padding: 5px; }

/*-----------------------------------Menu Buttons */
#buttons ul li#btn-new a:hover {background-position: 0 -30px; }
#buttons ul li#btn-delete a { background-position: -31px 0; }
#buttons ul li#btn-delete a:hover { background-position: -31px -30px; }
#buttons ul li#btn-mark a { background-position: -62px 0; width: 57px; }
#buttons ul li#btn-mark a:hover { background-position: -62px -30px; }
#buttons ul li#btn-print a { background-position: -119px 0; }
#buttons ul li#btn-print a:hover { background-position: -119px -30px; }
#buttons ul li#btn-release a { background-position: -150px 0; }
#buttons ul li#btn-release a:hover { background-position: -150px -30px; }
#buttons ul li#btn-reject a { background-position: -181px 0; }
#buttons ul li#btn-reject a:hover { background-position: -181px -30px; }
#buttons ul li#btn-action a { background-position: -212px 0; }
#buttons ul li#btn-action a:hover { background-position: -212px -30px; }
#buttons ul li#btn-reply a { background-position: -243px 0; width: 57px; }
#buttons ul li#btn-reply a:hover { background-position: -243px -30px; }
#buttons ul li#btn-forward a { background-position: -300px 0; margin-left: 0; margin-right: 0; width: 57px; }
#buttons ul li#btn-forward a:hover { background-position: -300px -30px; }


/*-----------------------------------Folder List */
.FolderList
{
    overflow-y:scroll;
    width:100%;
    height:650px;
    background-color: white;
    border: 1px solid #CCCCCC;
} 
 

/*------------------------------------Message List */
#loading
{
    width:32px;
}
 
#message-list
{
    background-color: white;
}
#listContainer
{
    position: relative;
    background-color: white;
    overflow-y:scroll;
    width:100%;
    height:90%;
    margin-top:0;
    border-top:1px solid #CCCCCC;
}

#messagewait{position:absolute; top:7px;right: 5px;display:none;height:32px;width:32px; background:url(~/images/loading.gif) no-repeat; z-index: 10010}
 

.itemselected
{
    border-top: solid 1px Black;
    border-bottom: solid 1px Black;
}
 
#messageList .mailImg
{
    position:absolute;
    left:3px;
    top:5px;
}
#messageList .subject
{     
    position:absolute;
    left:28px;
    top:2px;
    width:250px;
}
#messageList .received
{
    color:grey;
    text-align:right;
    position:absolute;
    right:3px;
    top:2px;
    width:200px;
}
#messageList .from
{    
    color:grey;
    position:absolute;
    left:28px;
    bottom:2px;
    width:250px;
}
#messageList .precedence
{
    color:#ac9e50;
    position:absolute;
    right:3px;
    bottom:2px;
    width:100px;    
}
