/*******************************************************************************
          %name: MessageDetails.css %
       %version: 7 % %date_created: Fri Nov 23 11:52:26 2012 %    %derived_by: ADuncan %      Copyright: Copyright 2012 BAE Systems Australia
                 All rights reserved.
********************************************************************************/

/* Classification */
#message-content .classification {text-align:center; padding:5px 0;  background:#efecf4;}
#message-content .classification p {margin:5px 0; font-size:12px; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal;}
#message-content .classification p strong {font-weight:normal; font-size:16px;}

/* Expiry */
#message-content .expiry {padding:15px 40px 15px;}
#message-content .expiry p {margin:0 0 5px 0;}
#message-content .expiry p a {font-weight:bold; text-decoration:underline; color:#3c3c3c;}
#message-content .expiry p a.rounded-box {display:block; float:right; background:#efecf4; padding:2px 5px; color:#3c3c3c; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; text-transform:uppercase; margin:0; border-radius: 5px; font-size:12px; text-decoration:none; font-weight:normal;}

/* Subject */
#message-content .message-type {background:#f0f4f5; padding:10px; text-align:center; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
#message-content .message-type h3 {margin:0; padding:0; font-size:14px; font-weight:normal; font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif;}

/* Info */
#message-content .detail {padding:15px 20px 15px 40px;}
#message-content .detail .from,
#message-content .detail .action,
#message-content .detail .info,
#message-content .detail .message-type { margin-bottom: 5px;overflow:hidden; }
#message-content .detail .left { float: left; font-size: 12px; width: 55px; white-space: nowrap;}
#message-content .detail .right { font-size: 12px; margin: 0 20px 0 60px; overflow: hidden; }
#message-content .detail ul {margin:0; padding:0;}
#message-content .detail ul li {list-style:none; margin:0 5px 5px 0; float:left; display:inline; color:3c3c3c; padding:0;}
#message-content .detail ul li a { background: none repeat scroll 0 0 #EFECF4; border-radius: 5px 5px 5px 5px; color: #3C3C3C; display: block; float: left; font-family: 'Conv_HelveticaNeueLTStd-Roman',Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; margin: 0; padding: 2px 5px; text-transform: uppercase; }
#message-content .detail ul li span.icon {background:url(../images/bg-message_icon.png) no-repeat; width:15px; height:15px; float:left; margin:2px 3px 0px 0px;}
#message-content .detail ul li.a span.icon {background-position:-28px -24px; display:block;}
#message-content .detail ul li.b span.icon {background-position:-28px -44px; display:block; width:12px; height:14px;}
#message-content .detail ul li.c span.icon {background-position:-59px -24px; display:block; width:16px; height:13px;}

#message-content .detail ul li.no-access div.itemContainer { color:#333;opacity: .5;}
#message-content .detail ul li.exempted div.itemContainer {background:#efecf4 url(../images/bg-info.png) right center no-repeat; padding-right:25px;}
#message-content .detail ul li div.itemContainer{display:block; float:left; background:#efecf4; padding:2px 5px; color:#3c3c3c; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; text-transform:uppercase; margin:0; border-radius: 5px; font-size:12px;white-space: nowrap;}
#message-content .detail ul li div.itemContainer:hover{cursor:default;}
#message-content .detail .from ul { overflow: hidden;}

#message-content .detail .originator {float:right; text-align:right;}
#message-content .detail .originator p {text-align:right; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; font-size:13px; margin:0;}
#message-content .detail .originator p strong {font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif; font-weight:normal;}
#message-content .detail .originator p span.sep img {vertical-align:middle; margin:0 8px}

#message-content .detail .precedence {float:right; display:inline; width:100px; text-align:right;}
#message-content .detail .precedence p {text-align:right; font-size:14px; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal;}
#message-content .detail .precedence span {display:block; background:url(../images/bg-message_icon.png) no-repeat; float:right; margin-left:10px; width:16px; height:23px;}
#message-content .detail .precedence strong {float:right; font-weight:normal; text-align:right;}
#message-content .detail .precedence span.Flash {background-position:0 -73px;}
#message-content .detail .precedence span.Immediate {background-position:-17px -73px;}
#message-content .detail .precedence span.Priority {background-position:-34px -73px;}
#message-content .detail .precedence span.Routine {background-position:-51px -73px;}
#message-content .detail .precedence span.Deferred {background-position:-51px -73px;}
#message-content .detail .precedence span.Override {background-position:-51px -73px;}

/* For elements that control expanding and collapsing of other elements*/
/*#message-content .detail .expand-arrow { background: url("../images/bg-arrow_from.png") no-repeat scroll left top transparent; display: block; float: right; height: 5px; margin: 7px 10px 0 0; width: 5px;}*/
#message-content .detail .expand-arrow { background: url("../images/bg-arrow_from.png") no-repeat scroll left top transparent; display: block; float: right; height: 5px; margin: 7px 10px 0 0; width: 5px;}
#message-content .detail .expand.down { background-position: left bottom; }
/* For expandable containers */
#message-content .detail .expandable { max-height: 54px; } /*height of two rows*/
#message-content .detail .expanded { max-height:none; height: auto; } 

#message-content .detail .from .more.hide { display: none;}


/* Subject and Sics */
#message-content .subject {border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
#message-content .subject .subject-title { min-width: 200px;}
#message-content .subject .subject-title h4 {font-size:14px; margin:0; padding:0; padding:10px 20px 10px 40px;  font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif; font-weight:normal;}
#message-content .subject .label { margin-right: 17px;}
#message-content .subject .label a {display:block; float:right; background:#efecf4; padding:2px 5px; color:#3c3c3c; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; text-transform:uppercase; margin:10px 3px; border-radius: 5px;}
#message-content .subject .label a:hover {cursor:default;}

/* Content */
#message-content .content {padding:15px 20px 5px 40px;}

/* Attachment */
#message-content .attachment {border-top:1px solid #dcdcdc; padding:15px 20px 15px 65px; background:url(../images/bg-attachment.png) 40px 20px no-repeat; overflow:hidden;}
#message-content .attachment ul {margin:0; padding:0;}
#message-content .attachment ul li {list-style:none; margin:0 5px 5px 0; float:left; display:inline; color:3c3c3c; padding:0;}
#message-content .attachment ul li a {display:block; float:left; background:#efecf4; padding:2px 5px; color:#3c3c3c; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; margin:0; border-radius: 5px;}
#message-content .attachment ul li a span {color:#828282;}
#message-content .attachment a.download-zip {float:right; display:block; background:url(../images/bg-download.png) 0 50% no-repeat; padding-left:20px; color:#3c3c3c; }




