/*******************************************************************************
          %name: SicBook.css %
       %version: 6.1.1 %
      Copyright: Copyright 2012 BAE Systems Australia
                 All rights reserved.
********************************************************************************/

/*override the dynatree container size*/

ul.dynatree-container { height: 500px; width: 700px; }

.table-label { background-color: #CCCCCC; border: 1px solid white; font-weight: bold; padding-left: 20px; padding-right: 20px; text-align: right; }

.sic-chest { border: solid 1px black; height: 35px; }

.sic-chest div.sic-block { background: #efecf4; border: solid 1px #efecf4; color: #3c3c3c; cursor: default; display: inline-block; float: left; margin: 3px 3px 3px 3px; padding: 2px 5px; }

.sic-chest div.sic-block:hover { background-color: #d4d4d4; }

.sic-block-text { white-space: nowrap; }

.sic-chest div.sic-block:hover { background-color: #d4d4d4; }

#sic-book-table { border: 1px solid white; }

#sicSearch { text-transform: uppercase; width: 673px; }

span.highlighted a { background-color: #ffffbb; }