/*=============================================================================
         %name: SortOptions.css %
      %version: 5 %
     Copyright: Copyright 2012 BAE Systems Australia
                All rights reserved.
=============================================================================*/

#message-sort {padding:10px; position:relative;}
#message-sort p {margin:0;}
#message-sort p a {font-size:12px; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; color:#3c3c3c;}
#message-sort.three-col .col {font-size:11px;}
#message-sort .col {float:left; width:33.33%; font-size:12px; position:relative;}
#message-sort .col.last {float:right; text-align:right;}
#message-sort .col-arrow {background:url(../images/bg-arrow_down.png) right 5px no-repeat; padding-right:10px}
 .message-sort-options {background:#F2F2F2; border:1px solid #b7b7b6; position:absolute; top:20px; border-top:none; display:none; left:0; min-width:150px; z-index:9999; width:auto!important; width:150px; height:auto!important; }
 .message-sort-options ul {list-style:none;margin:0;padding:0;}
 .message-sort-options ul li {list-style:none; margin:0; padding:0;  background:url(../images/bg-dropdown_sep.png) left top repeat-x!important; width:100%;}
 .message-sort-options ul li.selected a {background:url(../images/icon-selected.png) 10px center no-repeat; padding-left:25px;}
 .message-sort-options ul li a {display:block; padding:5px 10px; color:#525252; font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif; text-transform:uppercase; font-weight:normal; font-size:10px; text-indent:0; margin:0;}
 .message-sort-options ul li a:hover {color:#CD3D3D;}
 .col.last .message-sort-options {right:0; left:auto; text-align:left;}
