@using BAE.Mercury.Client.Models

@model IEnumerable<vmFolder>

<div class="col-left-top" id="mailbox">    
    <h2>Message Monitor</h2>
    <ul id="folder-list">
	    <li><a href="#"><span class="icon"></span><strong>Inboxes</strong></a></li>
	    <li><a href="#"><span class="icon"></span><strong>Site Queue</strong></a></li>
	    <li><a href="#"><span class="icon"></span><strong>Switch Queue</strong></a></li>
    </ul>
</div>