<ul class="buttons">
    <li id="btn-delete"><a href="#">Discard</a><span>Discard</span></li>
    <li id="btn-mark"><a class="btn-drop-parent" href="#">Mark As</a><span>Mark As</span>
        <div class="btn-drop">
            <span><a href="#">Read</a></span>
            <span><a href="#">Unread</a></span>						
        </div>
    </li>
    <li id="btn-reply"><a class="btn-drop-parent" href="#">Reply</a><span>Reply</span>
        <div class="btn-drop">
            <span><a href="#">Reply</a></span>
            <span><a href="#">Reply to all</a></span>						
        </div>
    </li>
    <li id="btn-forward"><a class="btn-drop-parent" href="#">Forward</a><span>Forward</span>
        <div class="btn-drop">
            <span><a href="#">Reply</a></span>
            <span><a href="#">Reply to all</a></span>						
        </div>
    </li>
    <li id="btn-nondeliver"><a href="#">NonDeliver</a><span>NonDeliver</span></li>
    <li id="btn-print"><a href="#">Print</a><span>Print</span></li>
</ul>