@*using BAE.Mercury.Core.MmhsModel*@
@using BAE.Mercury.Client.Models
@* This is the partial view to appended messages on ajax load*@
@model  OskyAddressBookAppointments
@{
    //DateTime last = DateTime.MaxValue;
    //int count = Model.appointments.C;
    //Message message;
    
@*  cycle through messages  *@
    @*for (int i = 0; i < 3; i++)*@
    foreach (Appointment appointment in Model.appointments)
    {
								    <li><a href="#" class="openSub"><span><img src="images/@(appointment.BranchIcon)" width="24" height="27" alt="Army" class="icon">@(appointment.BranchName)</span></a>
									    <ul style="display: none;">
										    <li class="icon cat"><a href="#" class="openSub"><span><span class="ico"></span>@(appointment.Annotation)</span></a>
											    <ul style="display: none;">
												    <li class="icon appointment unit sample-1"> <span> <span class="ico"></span>
													    <div>
														    <p><strong>Appointment</strong></p>
														    <p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														    <p>Liason/Exchange Officer, Interoperability</p>
													    </div>
													    </span>
                                                        @Html.Partial("~/Views/AddressBook/sample1.cshtml", appointment)
                                                    </li>
												    <li class="icon building unit sample-2"> <span> <span class="ico"></span>
													    <div>
														    <p><strong>HMAS Sydney</strong></p>
														    <p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														    <p>Contains 3 Action address and 1 info address</p>
													    </div>
													    </span> </li>
												    <li class="icon list unit sample-3"> <span> <span class="ico"></span>
													    <div>
														    <p><strong>Address List</strong></p>
														    <p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														    <p>Sydney, New South Wales, Australia</p>
													    </div>
													    </span> </li>
											    </ul>
										    </li>
									    </ul>
								    </li>
    

    }
}
