@using BAE.Mercury.Client.Models
@section Scripts
{
 @MessageHelpers.Scripts()
    @*the following link gives a warning in VS but is OK in html*@
    <script type="text/javascript" src="~/js/address_book.js"></script>
    <link href="css/abm.css" rel="stylesheet" type="text/css" media="all" />
}@{
    ViewBag.Title = "OskyAddressBook";
}
@model  OskyAddressBooks



@section LeftButtons
{
        <ul class="buttons">
					<li id="btn-addunit"><a href="#">Add Unit</a><span>Add Unit</span></li>
					<li id="btn-addappointment"><a href="#">Add Appointment</a><span>Add Appointment</span></li>
					<li id="btn-addaddresslist"><a href="#">Add Address List</a><span>Add Address List</span></li>
				</ul>
}
@section RightButtons
{
				<ul class="buttons">
					<li id="btn-address"><a href="#">Address Book</a><span>Address Book</span></li>
                </ul>

}

@section TopLeftMenu
{
				<div id="mailbox-scroll">
					<h2>Address Book Management</h2>
					<div id="address-book-list">
						<div class="address-book highlight">
							<p class="title"><a href="#" class="abm-btn history">Publication History</a> <strong>Current Address Book</strong></p>
							<form action="#" method="post">
								<p>
									<input name="include-history" id="include-history" value="" class="chk" type="checkbox"/>
									<label for="include-history">Include history</label>
								</p>
								<p>
									<input name="include-pending" id="include-pending" value="" class="chk" type="checkbox"/>
									<label for="include-pending">Include pending items</label>
								</p>
							</form>
						</div>
						<div class="address-book">
							<p class="title"><a href="http://bae.oskyweb.com/abm_addsession.html" class="abm-btn addsession">Add Session</a> <strong>Pending Change Sesions</strong></p>
						</div>
						<ul id="pending-session">
                            @foreach (AddressBookSession addressBookSession in Model.addressBookSessions)
                            {
							<li>
								<p>Session Number : SE @addressBookSession.Id</p>
								<p>Status: <span>@addressBookSession.Status</span></p>
							</li>
                            }
						</ul>
					</div>
				</div>
}
@{
                    AddressBookSession addressBookSessionCurrent = Model.addressBookSessions[0];

}
            <!--email content start-->
<div class="col-middle ui-resizable" id="session-list">
				<div id="email-search">
					<form action="#" id="search" method="post">
						<input type="text" value="Search Inbox" id="search-inbox"/>
						<a class="remove" href="#"></a> <span class="search-right"></span> <a href="#" id="advance-search-button"><img src="images/icon-advance_search.png" width="21" height="21" alt="Show Advance Search"></a> <br class="clear">
						<div id="advance-search">
							<ul>
								<li><a href="#">From</a></li>
								<li><a href="#">To</a></li>
								<li><a href="#">Subject</a></li>
								<li><a href="#">All</a></li>
							</ul>
							<br class="clear"/>
							<p> <span>
								<label for="classification">Classification: </label>
								<select name="classification" id="classification">
									<option>Classified</option>
									<option>Unsclassified</option>
								</select>
								</span> <span>
								<label for="precedence">Precedence: </label>
								<select name="precedence" id="precedence">
									<option>Flash</option>
									<option>Immediate</option>
									<option>Priority</option>
									<option>Routine</option>
								</select>
								</span> <span class="last"> <a href="#" class="btn">SICs</a> <a href="#" class="btn">DTG</a> </span> </p>
							<p> <span>
								<label for="date">Date within: </label>
								<select name="date" id="date">
									<option>1 day</option>
									<option>3 day</option>
								</select>
								</span> <span>
								<label for="date2">&nbsp;</label>
								<input type="text" value="DD MM YYYY">
								</span> <span class="last"> <a href="#" class="btn"><img src="images/icon-reply.png" width="22" height="16" alt="Back"></a> <a href="#" class="btn"><img src="images/icon-search.png" width="15" height="16" alt="Back"></a> </span> </p>
						</div>
					</form>
				</div>
				<div id="search-results">
					<div class="group">
						<ul>
							<li><a href="#">Message contains: test</a></li>
						</ul>
					</div>
					<div class="group"> <strong>People</strong>
						<ul>
							<li><a href="#"><span class="highlight">test</span>baesystems.com</a></li>
							<li><a href="#"><span class="highlight">test</span>gmail.com</a></li>
							<li><a href="#"><span class="highlight">test</span>hotmail.com</a></li>
							<li><a href="#"><span class="highlight">test</span>yahoo.com</a></li>
						</ul>
					</div>
					<div class="group"> <strong>Subjects</strong>
						<ul>
							<li><a href="#">BAE <span class="highlight">Test</span></a></li>
							<li><a href="#"><span class="highlight">Test</span>ing</a></li>
							<li><a href="#"><span class="highlight">Test</span> Results</a></li>
						</ul>
					</div>
					<br class="clear">
				</div>
				<div id="email-sort" class="three-col">
					<div id="sort-col-1" class="col"><a href="#" class="col-arrow">Filter by Unread</a>
						<div class="email-sort-options">
							<ul>
								<li><a href="#">Filter by Unread</a></li>
								<li><a href="#">Filter by Date</a></li>
								<li><a href="#">Filter by Attachment</a></li>
								<li class="selected"><a href="#">Filter by Unread</a></li>
							</ul>
						</div>
					</div>
					<br class="clear">
				</div>
				<div id="email-list" style="height: 416px; overflow-y: hidden; outline: none;" tabindex="5001">
					<ul id="session">
						<li><a href="#" class="openSub"><span><img src="~/images/icon-abm_session.png" width="24" height="27" alt="Session" class="icon"/> Session SE @addressBookSessionCurrent.Id</span></a>
							<ul id="appointments" style="display: none;" >
                                @* @for (int i = 0; i < 3; i++)
                                {
								    <li><a href="#" class="openSub"><span><img src="images/icon-abm_navy.png" width="24" height="27" alt="Army" class="icon"> Navy</span></a>
									    <ul style="display: none;">
										    <li class="icon cat"><a href="#" class="openSub"><span><span class="ico"></span> Major Ship</span></a>
											    <ul style="display: none;">
												    <li class="icon appointment unit sample-1"> <span> <span class="ico"></span>
													    <div>
														    <p><strong>Appointment</strong></p>
														    <p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														    <p>Liason/Exchange Officer, Interoperability</p>
													    </div>
													    </span> </li>
												    <li class="icon building unit sample-2"> <span> <span class="ico"></span>
													    <div>
														    <p><strong>HMAS Sydney</strong></p>
														    <p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														    <p>Contains 3 Action address and 1 info address</p>
													    </div>
													    </span> </li>
												    <li class="icon list unit sample-3"> <span> <span class="ico"></span>
													    <div>
														    <p><strong>Address List</strong></p>
														    <p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														    <p>Sydney, New South Wales, Australia</p>
													    </div>
													    </span> </li>
											    </ul>
										    </li>
									    </ul>
								    </li>
                                } *@
                                @*
								<li><a href="#" class="openSub"><span><img src="images/icon-abm_navy.png" width="24" height="27" alt="Army" class="icon"> Navy</span></a>
									<ul style="display: none;">
										<li class="icon cat"><a href="#" class="openSub"><span><span class="ico"></span> Major Ship</span></a>
											<ul style="display: none;">
												<li class="icon appointment unit sample-1"> <span> <span class="ico"></span>
													<div>
														<p><strong>Appointment</strong></p>
														<p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														<p>Liason/Exchange Officer, Interoperability</p>
													</div>
													</span> </li>
												<li class="icon building unit sample-2"> <span> <span class="ico"></span>
													<div>
														<p><strong>HMAS Sydney</strong></p>
														<p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														<p>Contains 3 Action address and 1 info address</p>
													</div>
													</span> </li>
												<li class="icon list unit sample-3"> <span> <span class="ico"></span>
													<div>
														<p><strong>Address List</strong></p>
														<p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														<p>Sydney, New South Wales, Australia</p>
													</div>
													</span> </li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="#" class="openSub"><span><img src="images/icon-abm_army.png" width="24" height="27" alt="Army" class="icon"> Army</span></a>
									<ul style="display: none;">
										<li class="icon cat"><a href="#" class="openSub"><span><span class="ico"></span> Major Ship</span></a>
											<ul style="display: none;">
												<li class="icon appointment unit sample-1"> <span> <span class="ico"></span>
													<div>
														<p><strong>Appointment</strong></p>
														<p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														<p>Liason/Exchange Officer, Interoperability</p>
													</div>
													</span> </li>
												<li class="icon building unit sample-2"> <span> <span class="ico"></span>
													<div>
														<p><strong>HMAS Sydney</strong></p>
														<p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														<p>Contains 3 Action address and 1 info address</p>
													</div>
													</span> </li>
												<li class="icon list unit sample-3"> <span> <span class="ico"></span>
													<div>
														<p><strong>Address List</strong></p>
														<p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														<p>Sydney, New South Wales, Australia</p>
													</div>
													</span> </li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="#" class="openSub"><span> <img src="images/icon-abm_raaf.png" width="24" height="27" alt="RAAF" class="icon"> RAAF</span></a>
									<ul style="display: none;">
										<li class="icon cat"><a href="#" class="openSub"><span><span class="ico"></span> Naval Bases</span></a>
											<ul style="display: none;">
												<li class="icon appointment unit sample-1"> <span> <span class="ico"></span>
													<div>
														<p><strong>Appointment</strong></p>
														<p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														<p>Liason/Exchange Officer, Interoperability</p>
													</div>
													</span> </li>
												<li class="icon building unit sample-2"> <span> <span class="ico"></span>
													<div>
														<p><strong>HMAS Sydney</strong></p>
														<p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														<p>Contains 3 Action address and 1 info address</p>
													</div>
													</span> </li>
												<li class="icon list unit sample-3"> <span> <span class="ico"></span>
													<div>
														<p><strong>Address List</strong></p>
														<p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														<p>Sydney, New South Wales, Australia</p>
													</div>
													</span> </li>
											</ul>
										</li>
										<li class="icon cat"><a href="#" class="openSub"><span><span class="ico"></span> Minor Ships</span></a>
											<ul style="display: none;">
												<li class="icon appointment unit sample-1"> <span> <span class="ico"></span>
													<div>
														<p><strong>Appointment</strong></p>
														<p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														<p>Liason/Exchange Officer, Interoperability</p>
													</div>
													</span> </li>
												<li class="icon building unit sample-2"> <span> <span class="ico"></span>
													<div>
														<p><strong>HMAS Sydney</strong></p>
														<p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														<p>Contains 3 Action address and 1 info address</p>
													</div>
													</span> </li>
												<li class="icon list unit sample-3 last"> <span> <span class="ico"></span>
													<div>
														<p><strong>Address List</strong></p>
														<p>Integer vel ligula metus, ac pharetra nibh. Integer feugiat faucibus nibh a</p>
														<p>Sydney, New South Wales, Australia</p>
													</div>
													</span> </li>
											</ul>
										</li>
									</ul>
								</li>
                                *@
							</ul>
						</li>
					</ul>
				</div>
			<div class="ui-resizable-handle ui-resizable-e" style="z-index: 1000;">
            </div>
            </div>
            <!--email content end-->



<div class="col-right" id="email-content" style="height: 492px; overflow: hidden; outline: none;" tabindex="5002">


			<div id="session-content">

				
			</div>
		</div>