@using BAE.Mercury.Client.Models
@* This is the partial view to appended messages on ajax load*@
@model  Appointment

    @*session content start*@
<div id="sample1" class="session-content-single sample-1" style="display: none;">
					<h3>Appointment/Unit</h3>
					<h4>Description:</h4>
					<p>Donec id augue id magna ultrices molestie sit amet at sem. Nunc mi dolor, ullamcorper a pellentesque cursus, consectetur consectetur tellus. Pellentesque a augue a diam tempus pharetra vel sit amet nibh.</p>
					<div class="sep"></div>
					<h4>Functional Description:</h4>
					<ul>
						<li>Liaison/Exchange Officer</li>
						<li>Interoperability</li>
					</ul>
					<div class="sep"></div>
					<h4>Occupants:</h4>
					<ul class="icon">
						<li class="unit tooltip"><span class="ico"></span><a href="#" class="tip tip1">Farnham, Pat<div class="tooltip fixed persistent" style="display: none;"><p><strong>Farnham, Pat</strong></p><p><span>Tel:</span>+61 2 8888 8888</p><p><span>Mobile:</span>+61 2 8888 8888</p><p><span>Email:</span><a href="mailto:Farnham.pat@abc.gov">Farnham.pat@abc.gov</a></p></div></a></li>
						<li class="unit tooltip"><span class="ico"></span><a href="#" class="tip tip2">Slavin, Kev</a></li>
					</ul>
					<div class="sep"></div>
					<h4>Item History:</h4>
					<div class="item-history">
						<ul>
							<li>
								<p><strong>Date/Time</strong></p>
								<p>Suspendisse sit amet bibendum ipsum. Donec feugiat, odio ac tempor pulvinar, nunc metus condimentum felis, viverra condimentum erat urna id leo. Nam dolor tellus, bibendum et dignissim at, gravida vitae dolor. Nullam euismod consequa</p>
							</li>
							<li>
								<p><strong>Date/Time</strong></p>
								<p>Suspendisse sit amet bibendum ipsum. Donec feugiat, odio ac tempor pulvinar, nunc metus condimentum felis, viverra condimentum erat urna id leo. Nam dolor tellus, bibendum et dignissim at, gravida vitae dolor. Nullam euismod consequa</p>
							</li>
							<li>
								<p><strong>Date/Time</strong></p>
								<p>Suspendisse sit amet bibendum ipsum. Donec feugiat, odio ac tempor pulvinar, nunc metus condimentum felis, viverra condimentum erat urna id leo. Nam dolor tellus, bibendum et dignissim at, gravida vitae dolor. Nullam euismod consequa</p>
							</li>
							<li>
								<p><strong>Date/Time</strong></p>
								<p>Suspendisse sit amet bibendum ipsum. Donec feugiat, odio ac tempor pulvinar, nunc metus condimentum felis, viverra condimentum erat urna id leo. Nam dolor tellus, bibendum et dignissim at, gravida vitae dolor. Nullam euismod consequa</p>
							</li>
							<li>
								<p><strong>Date/Time</strong></p>
								<p>Suspendisse sit amet bibendum ipsum. Donec feugiat, odio ac tempor pulvinar, nunc metus condimentum felis, viverra condimentum erat urna id leo. Nam dolor tellus, bibendum et dignissim at, gravida vitae dolor. Nullam euismod consequa</p>
							</li>
							<li>
								<p><strong>Date/Time</strong></p>
								<p>Suspendisse sit amet bibendum ipsum. Donec feugiat, odio ac tempor pulvinar, nunc metus condimentum felis, viverra condimentum erat urna id leo. Nam dolor tellus, bibendum et dignissim at, gravida vitae dolor. Nullam euismod consequa</p>
							</li>
						</ul>
					</div>
					<p class="session-update-button"><a href="#" class="btn black">Edit Unit</a> <a href="#" class="btn black">Delete Unit</a></p>
				</div>    
    @*session content end*@
