<div id="xwrapper">
    <div id="content">
        <div id="popup-content">
            <div class="section">
                <div class="inner">
                    <label for="desc">
                        Descriptions</label>
                    <textarea id="desc" rows="3"></textarea>
                </div>
            </div>
            <div class="section" style="display:none">
                <div class="inner">
                    <div id="sic-entry-template" class="col-wrap select" >
                        <div class="col">
                            <select class="privacy">
                                <option selected="selected" value="Please select">Please select</option>
                                <option value="Privacy marking">Privacy marking</option>
                                <option value="SIC">SIC</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="search">
                                <option selected="selected" value="Please select">Please select</option>
                                <option>is equal</option>
                                <option>starts with</option>
                            </select>
                        </div>
                        <div class="col last name">
                            <input type="text" />
                        </div>
                        <div class="btn-add">
                            <a class="btn-plus" href="#">Plus</a> <a class="btn-minus" href="#">Minus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="inner">
                    <div id="sic-list">
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="inner">
                    <div class="btn-wrap">
                        <ul>
                            <li><a id="popup-sic-save" href="#">Submit</a></li>
                            <li><a href="#">Clear</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
