<div id="xwrapper">
    <div id="content">
        <div id="popup-content">
            <div class="section" style="display:none">
                <div class="inner">
                    <div id="sic-entry-template" class="col-wrap select" >
                        <div class="col" style="width:10%">
                            <span class="sequence" style="margin-left:5px"></span>
                        </div>
                        <div class="col" style="width:20%">
                            <select class="rule">
                                <option selected="selected" value="Please select">Please select</option>
                                <option value="Privacy marking">Privacy marking</option>
                                <option value="SIC">SIC</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="match">
                                <option selected="selected" value="Please select">Please select</option>
                                <option>is equal</option>
                                <option>starts with</option>
                            </select>
                        </div>
                        <div class="col wide" style="width:300px">
                            <input class="name"  type="text" maxlength="8" style="width:300px;text-transform:uppercase;" />
                        </div>
                        <div class="btn-add">
                            <a class="btn-minus" href="#">Minus</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="inner">
                    <div class="col" >
                        <select id="sic-type" class="sic-type" style="width:200px">
                            <option selected="selected" value="Please select">Please select</option>
                            <option value="Action">Action</option>
                            <option value="Info">Info</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="inner">
                    <div id="sic-list"></div>
                    <div class="btn-add">
                        <a class="btn-plus" href="#">Plus</a>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="inner">
                    <div class="btn-wrap">
                        <ul>
                            <li><a id="popup-sic-save" href="#">Submit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
