@using BAE.Mercury.Client.Models;
<div id="@Html.Raw(Model.Id)" class="dialog-normal">
    <div class="popup-content">
        <div class="section">
            <div class="inner">                   
                <div class="form-wrap">
                    <p class="popup-msg">Message</p>
                </div>
                @if (Model.Prompt)
                {
                <div class="form-wrap">
                    <div class="row fullwidth">
                        <input type="text" class="txt dm-input-box" name="dm-input-box" value="" />
                        <br class="clear" />
                    </div>
                </div>
                }
                <div class="btn-wrap">
                    <ul class="popup-btns">
                        <li><a href="#" class="answer-ok">Ok</a></li>
                        @if (Model.Cancel)
                        {
                            <li><a href="#" class="answer-cancel">Cancel</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
