@using System.Diagnostics;
@using BAE.Mercury.Client.Models;
@model BAE.Mercury.Client.Models.DMSet

<!--set start  -->

<div class="set" >
@{ if (Model.Nodes.Count > 0) {
    foreach (DMUnit unit in Model.Nodes){
    <!--unit start -->
        <div class="unit" style="background-color:Red">
            <div class="unit-title">@Html.Raw(unit.Name)</div>
            <div class="user rounded">Duty Officer = Watchkeeper</div>
            @{ 
                if (unit.Nodes.Count > 0) {
                <div class="canvas">
                    @{foreach (DMAppointment appointment in unit.Nodes)  {
                        <table class="appointment" style="margin-top:20px;">
                            <tbody>
                                <tr>
                                    <td class="appointment">
                                        <div class="appointment">@Html.Raw(appointment.Name)</div>
                                    </td>
                                    <td>
                                        <div>
                                            @{ 
                                    
                                                Debug.WriteLine(appointment.Name);
                                                string setUnitId = String.Format("{0}_{1}", Model.Id, unit.Id);
                                                Html.RenderPartial("_DMTable", new { appointment = appointment, setUnitId = setUnitId });

                                                //Html.RenderPartial("_DMTable", appointment);
                                            }
                                    

                                        </div>
                                    </td>
                                    <td class="add">
                                        <a id="aa_@Html.Raw(String.Format("{0}_{1}_{2}", Model.Id, unit.Id, appointment.Id))" href="#" >
                                            <img src="~/images/icon-plus.png" alt="plus"/></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <br /> @*break between appointments*@
                      }}
                </div>
               }
               else
               {
                    <div style="background-color:white; margin:auto; text-align:center; position:relative;width:100%">No Appointments</div>
                    <br />@*break between appointments*@

               }
                
            } 
        </div>
        <p style="line-height:1px;"/> @*break between appointments*@
    <!--unit end -->
    }
   }
   else
   {
       <div style="background-color:white; margin:auto; text-align:center">No Units</div>
   }
   
 }

</div>
<!--set end-->
