<div id="copy-sic">
    <div class="popup-content">
        <div class="inner">
            <div class="form-wrap">
                <p class="sic-desc">
                    Message</p>
            </div>
            <div class="section">
                <div class="inner">
                    <div class="col single">
                        <select id="sic-unit" style="width: 200px">
                            <option selected="selected" value="0">Please select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="inner">
                    <div class="col single">
                        <select id="sic-appointment" style="width: 200px">
                            <option selected="selected" value="0">Please select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="inner">
                    <div class="btn-wrap">
                        <ul>
                            <li><a href="#" class="copy-sic-submit">Submit</a></li>
                            <li><a href="#" class="copy-sic-cancel">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
