@using System.Diagnostics;
@using BAE.Mercury.Client.Models;
@model BAE.Mercury.Client.Models.DMset

<!--set start  -->

<div id="st_@Html.Raw(String.Format("{0}", Model.Id))" class="set" ticks="@Html.Raw(Model.Ticks)" locked="true">
@{ if (Model.Children.Count > 0) {
    foreach (DMunit unit in Model.Children){
    <!--unit start -->
        <div class="unit" id="un_@Html.Raw(String.Format("{0}_{1}", Model.Id, unit.Id))">
            <div class="unit-title">@Html.Raw(unit.Name)</div>
            <div class="user rounded">Duty Operator: @Html.Raw(unit.DutyOfficer)</div>
            @{ 
                if (unit.Children.Count > 0) {
                <div class="canvas">
                    @{foreach (DMappointment appointment in unit.Children)  {
                        <table class="appointment">
                            <tbody>
                                <tr>
                                    <td class="appointment">
                                        <div class="appointment">@Html.Raw(appointment.Name)</div>
                                    </td>
                                    <td class="sic-table">
                                        
                                        <div id="dw_@Html.Raw(String.Format("{0}_{1}_{2}", Model.Id, unit.Id, appointment.Id))">
                                            @{ 
                                    
                                                Debug.WriteLine(appointment.Name);                                                
                                                //Html.RenderPartial("_DMTable", new {a : appointment, i : appointmentId});
                                                Html.RenderPartial("_DMTable", appointment);

                                            }
                                    

                                        </div>
                                    </td>
                                    <td class="add"> 
                                    @if (!((DMset)appointment.Parent.Parent).ReadOnly) {
                                                                         
                                        <a id="aa_@Html.Raw(String.Format("{0}_{1}_{2}", Model.Id, unit.Id, appointment.Id))" href="#">
                                            <img src="~/images/icon-plus.png" alt="plus"/></a>
                                    } 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                   @*break between appointments*@
                      }}
                </div>
                }
                else
                {
                    <div class="no-app">No Appointments</div>
                    <br />@*break between appointments*@

                }
                
            } 
        </div>
        @*break between appointments*@
    <!--unit end -->
    }
   }
   else
   {
       <div style="background-color:white; margin:auto; text-align:center">No Units</div>
   }
   
 }

</div>
<!--set end-->
