@using BAE.Mercury.Client.Models
@{
    DMAppointment appointment = (DMAppointment) Model;
    SIC sic1 = ((DMAppointment)Model).Infos[0];
    string appointmentId = appointment.Id < 0 ? "x" : appointment.Id.ToString(); 
}
<table id="ti_@Html.Raw(appointmentId)">
    @{for (int j = 0; j < appointment.Infos.Count; j++)
      {
          string suffix = String.Format("{0}_{1}", appointmentId, j);
        <tr>
            <td class="cinfo">
                &nbsp;
            </td>
            <td class="sic info">
                <span id="is_@Html.Raw(suffix)" class="sic rounded" >SICAAAAAAAAAAAAAAAAAAA @Html.Raw(j)</span>
            </td>
            <td class="delete">
                <a id="id_@Html.Raw(suffix)" href="#">
                    <img src="~/images/icon-minus.png" alt="minus" /></a>
            </td>
            <td class="edit">
                <a id="ie_@Html.Raw(suffix)" href="#">
                    <img src="~/images/icon-edit.png" alt="edit" /></a>
            </td>
        </tr>
      }
    }
</table>
<table id="ta_@Html.Raw(appointmentId)">
    @{for (int j = 0; j < appointment.Infos.Count; j++)
      {
          string suffix = String.Format("{0}_{1}", appointmentId, j);
        <tr>
            <td class="caction">
                &nbsp;
            </td>
            <td class="sic action">
                <span id="as_@Html.Raw(suffix)" class="sic rounded" >SICAAAAAAAAAAAAAAAAAAA @Html.Raw(j)</span>
            </td>
            <td class="delete">
                <a id="ad_@Html.Raw(suffix)" href="#">
                    <img src="~/images/icon-minus.png" alt="minus" /></a>
            </td>
            <td class="edit">
                <a id="ae_@Html.Raw(suffix)" href="#">
                    <img src="~/images/icon-edit.png" alt="edit" /></a>
            </td>
        </tr>
      }
    }
</table>
