@*================================================================================
           %name: Create.cshtml %
       %version: 29 %
       Copyright: Copyright 2012 BAE Systems Australia
                  All rights reserved.
================================================================================*@
@using System.Globalization
@using System.Net.Mime
@using BAE.Mercury.Client.Models
@model BAE.Mercury.Client.Models.vmNewMessage
@{
    //Layout = "../Shared/_PopupLayout.cshtml";
    ViewBag.Title = "Create";
}
@*something seems screwy with our routing. The actionlink builds the wrong url *@
@*@Html.ActionLink("View Sic Book", "Index", "Sic", new { Target="_blank" }) 
<a href="../Sic" target="_blank">View Sic Book</a>*@
@section CSS
{
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/nm.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE]>
<link href="~/css/dm-ie.css" rel="stylesheet" type="text/css" media="all" />
<![endif]-->
    <link href="~/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/css/dm.css" rel="stylesheet" type="text/css" />
    <link href="~/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="~/css/colorbox.css" rel="stylesheet" type="text/css" />
}
@section Scripts
{
    <script src="~/Scripts/jquery-1.7.1.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="~/Scripts/respond.min.js" type="text/javascript"></script>
    <!-- IE7 min/max width support -->
    <script src="~/Scripts/functions.js" type="text/javascript"></script>
    <script src="~/Scripts/functions_dm.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.corner.js" type="text/javascript"></script>
    <script src="~/Scripts/dm.js?version=@Html.Raw(DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
}
@section MenuButtons
{
    @*no buttons for now*@
}
@section LeftMenuButtons
{
    @*no buttons for now*@
}
@section SideBar

{
    <div class="col-left ui-resizable" id="mailbox">
        <div tabindex="5000" style="height: 77px; overflow-y: hidden;" id="mailbox-scroll">
            <h2>
                Distribution Management ZZ</h2>
            <p class="title">
                <a href="#" class="dm-btn">Add Set</a><strong>Add Set</strong></p>
            <ul id="mailbox-list">
                <li class="set">
                    <div>
                        <a href="#"><span class="icon"></span><strong>Set 1</strong></a>
                        <div class="btn-set">
                            <a href="#">
                                <img src="~/images/btn-dm_edit.png" alt="Edit" height="24" width="25"></a><a href="#"><img
                                    src="~/images/btn-dm_delete.png" alt="Delete" height="24" width="25"></a><a href="#"><img
                                        src="~/images/btn-dm_copy.png" alt="Copy" height="24" width="25"></a></div>
                    </div>
                    <ul style="display: none;">
                        <li class="lock"><a href="#">Unit = 1 RAR</a></li>
                        <li class="lock"><a href="#">Unit = 2 RAR</a></li>
                        <li><a href="#">Unit = 3 RAR</a></li>
                    </ul>
                </li>
                <li class="set">
                    <div>
                        <a href="#"><span class="icon"></span><strong>Set 2</strong></a>
                        <div class="btn-set">
                            <a href="#">
                                <img src="~/images/btn-dm_edit.png" alt="Edit" height="24" width="25"></a><a href="#"><img
                                    src="~/images/btn-dm_copy.png" alt="Copy" height="24" width="25"></a></div>
                    </div>
                    <ul style="display: none;">
                        <li><a href="#">Unit = 1 RAR</a></li>
                        <li><a href="#">Unit = 2 RAR</a></li>
                        <li><a href="#">Unit = 3 RAR</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="left-menu-collapse">
            <a href="#">
                <img src="~/images/bg-left_menu_collapse.png" align="Close Menu" height="11" width="30" /></a></div>
        <ul id="left-menu">
            <li><a href="index.html">Mailboxes</a><span class="badges"><span>999</span></span></li>
            <li><a href="message_monitor.html">Message Monitor</a> <span class="badges"><span>9</span></span></li>
            <li><a href="audit_trail.html">Audit Trail</a></li>
            <li class="current"><a href="distribution_management.html">Distribution Management</a></li>
            <li><a href="#">System Preferences</a></li>
            <li><a href="#">User Management</a></li>
            <li><a href="address_book_management.html">Address Book Management</a></li>
        </ul>
        <div style="z-index: 1000;" class="ui-resizable-handle ui-resizable-e">
        </div>
    </div>
}
@* body *@
<div tabindex="5001" style="height: 727px; overflow: hidden;" class="col-right gradient"
    id="email-content">
    <div id="session-content" class="border">
        <div class="content-wrap">
            <div id="graph" style="height: 100%; overflow: auto;">
                <!-- start -->
                <div class="unit">
                    <div class="unit-title">
                        DEPT Immigration and Multicultural Affairs</div>
                    <div class="user rounded">Duty Officer = Watchkeeper</div>
                        <br />
                        <div class="canvas">
                        @{
                            int apps = 3, sics = 7;
                            for (int i = 0; i < apps; i++)
                            {
                                <table class="appointment" >
                                    <tr >
                                        <td class="appointment" >
                                            <div class="appointment">appointmentxxxxxxxxxx bbbbbbbb ccccccc @Html.Raw(i)</div>
                                        </td>
                                        <td >
                                            <div>
                                                <table>
                                                    @{for (int j = 0; j < sics; j++)
                                                      {
                                                    <tr>
                                                
                                                        <td class="cinfo">
                                                            &nbsp;
                                                        </td>
                                                        <td class="sic info" ><span id="as_@Html.Raw(i)_@Html.Raw(j)" class="sic rounded" >                                                            
                                                            SICAAAAAAAAAAAAAAAAAAA @Html.Raw(j)</span></td>
                                                        <td class="minus"><a id="ad_@Html.Raw(i)_@Html.Raw(j)" href="#"><img src="~/images/icon-minus.png" alt="minus" /></a></td>
                                                        <td class="edit"><a id="ae_@Html.Raw(i)_@Html.Raw(j)" href="#"><img src="~/images/icon-edit.png" alt="edit" /></a></td>
                                                    </tr>
                                                      }
                                                    }
                                                </table>
                                                <table>
                                                    @{for (int j = 0; j < sics; j++)
                                                      {
                                                    <tr>
                                                
                                                        <td class="caction">
                                                            &nbsp;
                                                        </td>
                                                        <td class="sic action" ><span id="as_@Html.Raw(i)_@Html.Raw(j)" class="sic rounded" >
                                                            SICAAAAAAAAAAAAAAAAAAA @Html.Raw(j)</span></td>
                                                        <td class="minus"><a id="ad_@Html.Raw(i)_@Html.Raw(j)" href="#"><img src="~/images/icon-minus.png" alt="minus" /></a></td>
                                                        <td class="edit"><a id="ae_@Html.Raw(i)_@Html.Raw(j)" href="#"><img src="~/images/icon-edit.png" alt="edit" /></a></td>
                                                    </tr>
                                                      }
                                                    }
                                                </table>
                                            </div>
                                        </td>
                                        <td class="plus">
                                            <a id="a_@Html.Raw(i)" href="#"><img  src="~/images/icon-plus.png" alt="plus" /></a>
                                        </td>

                                    </tr>
                                </table>
                                <br />

                            }
                        }
                    </div>
                </div>
                <!-- end -->
            </div>
            <div id="rule-visualiser-wrap">
                <h3>
                    Rule Visualiser</h3>
                <div class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all" id="rule-visualiser">
                    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
                        role="tablist">
                        <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab"
                            tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true">
                            <a href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">
                                Select Message</a></li>
                        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2"
                            aria-labelledby="ui-id-2" aria-selected="false"><a href="#tabs-2" class="ui-tabs-anchor"
                                role="presentation" tabindex="-1" id="ui-id-2">Select Field</a></li>
                    </ul>
                    <div id="tabs-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom"
                        role="tabpanel" aria-expanded="true" aria-hidden="false">
                        <p>
                            Proin elit arcu, rutrum commodo</p>
                        <div class="btn-wrap wide">
                            <ul>
                                <li><a href="#">Select Message</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="tabs-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom"
                        role="tabpanel" style="display: none;" aria-expanded="false" aria-hidden="true">
                        <p>
                            Morbi tincidunt, dui sit amet facilisis feugiat.</p>
                        <ul id="select-field">
                            <li class="field">
                                <select>
                                    <option selected="" value="Please select">Please select</option>
                                    <option value="Precedence">Precedence</option>
                                    <option value="SIC">SIC</option>
                                    <option value="Unit 1">Unit 1</option>
                                    <option value="Dolor sit amet">Dolor sit amet</option>
                                    <option value="Consectetur ">Consectetur </option>
                                    <option value="Adipiscing">Adipiscing</option>
                                    <option value="Integer ">Integer </option>
                                    <option value="Sed eros ">Sed eros </option>
                                    <option value="Leo">Leo</option>
                                    <option value="Id">Id</option>
                                </select>
                                <input type="text" class="txt">
                                <div class="btn-add">
                                    <a class="btn-plus" href="#">Plus</a> <a class="btn-minus" href="#" style="display: none;">
                                        Minus</a>
                                </div>
                            </li>
                        </ul>
                        <div class="btn-wrap">
                            <ul>
                                <li><a href="#">Submit</a></li>
                                <li><a href="#">Clear</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br class="clear">
            </div>
            <br class="clear">
        </div>
    </div>
    <br class="clear">
</div>
