@using System.Globalization
@using System.Net.Mime
@using BAE.Mercury.Client.Models
@model BAE.Mercury.Client.Models.DistributionManagement
@section CSS
{
    <link href="~/css/style_dm.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/dm.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" media="all" />
<![endif]-->
    <!--[if IE 8]>
<link href="css/ie8.css" rel="stylesheet" type="text/css" media="all" />
<![endif]-->
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <!--additional links for list start -->
    @*  <link href="~/cssDavid/Site.css" rel="stylesheet" />
    <link href="~/cssDavid/jquery_004.css" rel="stylesheet" />
    <link href="~/cssDavid/ui.css" rel="stylesheet" />*@
    <link href="~/cssDavid/MessageMain.css" rel="stylesheet" type="text/css" />
    <link href="~/cssDavid/MessageFolders.css" rel="stylesheet" type="text/css" />
    <link href="~/cssDavid/MessageDetails.css" rel="stylesheet" type="text/css" />
    <link href="~/cssDavid/SortOptions.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/cssDavid/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/cssDavid/SearchBox.css" rel="stylesheet" type="text/css" media="all" />
    <!--additional links for list end -->
}
@section Scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="~/Scripts/waypoints.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.scroll.events.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.simpletip-1.3.1.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-timepicker-addon.js?sdfg5"></script>
    <script type="text/javascript" src="~/Scripts/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="~/Scripts/functions.js?434563456f"></script>
    <script type="text/javascript" src="~/Scripts/functions_dm.js"></script>
    <script type="text/javascript" src="~/Scripts/dm.js?=123456"></script>
    <script type="text/javascript" src="~/Scripts/dm1.js?=123456"></script>
    @*	<script type="text/javascript" src="~/Scripts/dm_erfan.js"></script>
*@
    <script type="text/javascript" src="~/Scripts/Initialise.js"></script>
    <script type="text/javascript" src="~/Scripts/ryan_dm.js"></script>
    <script type="text/javascript" src="~/Scripts/json2.min.js"></script>
    <!--additional links for list start -->
    @*<script src="~/ScriptsDavid/jquery.js" type="text/javascript"></script>
*@
    <script src="~/ScriptsDavid/DAInitialise.js" type="text/javascript"></script>
    @*    <script type="text/javascript" src="ScriptsDavid/modernizr-2.js"></script>
    <script src="Scripts/jquery-1.7.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="ScriptsDavid/jquery-ui.js"></script>
*@
    <!--[if IE 7]><link href="/Content/IE7.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--additional links for list end -->
}
@section MenuButtons
{
    <ul class="buttons">
        <li id="btn-save" class="popup-inline"><a href="#save-set">Save</a><span>Save</span></li>
        <li id="btn-cancel"><a href="#">Cancel</a><span>Cancel</span></li>
        <li id="btn-unlock"><a href="#">Unlock</a><span>Unlock</span></li>
    </ul>
}
@section LeftMenuButtons
{
}
@section SideBar

{
    <div class="col-left" id="setbox">
        <div id="setbox-scroll">
            <h2>
                Distribution Management</h2>
            <p class="title">
                <strong><a id="btn-edit-set" href="#" class="popup-set-edit">
                    <img src="~/images/btn-dm_edit.png" alt="Edit" height="24" width="25" /></a> <a id="btn-delete-set"
                        href="#" class="popup-set-delete">
                        <img src="~/images/btn-dm_delete.png" alt="Delete" height="24" width="25" /></a>
                    <a id="btn-copy-set" href="#" class="popup-set-copy">
                        <img src="~/images/btn-dm_copy.png" alt="Copy" height="24" width="25" /></a>
                    <a id="btn-add-set" href="#" class="popup-set-add">
                        <img src="~/images/btn-dm_add.png" alt="Add" height="24" width="25" /></a>
                </strong>
            </p>
            <ul id="setbox-list">
            </ul>
        </div>
        <div id="left-menu-collapse">
            <a href="#">
                <img src="~/images/bg-left_menu_collapse.png" width="30" height="11" align="Close Menu" alt="manu collapse" /></a></div>
        <ul id="left-menu">
            <li><a href="index.html">Mailboxes</a><span class="badges"><span>999</span></span></li>
            <li><a href="message_monitor.html">Message Monitor</a> <span class="badges"><span>9</span></span></li>
            <li><a href="audit_trail.html">Audit Trail</a></li>
            <li class="current"><a href="distribution_management.html">Distribution Management</a></li>
            <li><a href="#">System Preferences</a></li>
            <li><a href="#">User Management</a></li>
            <li><a href="address_book_management.html">Address Book Management</a></li>
        </ul>
    </div>
}
@* body *@
<div class="col-right gradient" id="eset-content">
    <div id="session-content" class="border">
        <div class="content-wrap">
            <div id="search-sic-box">
                <input type="text" value="Search SIC" id="search-sic" /><a class="remove" href="#"></a><span
                    class="search-right"></span>
                <br class="clear" />
            </div>
            <div id="graph" style="height: 300px">
                <!--sets go in here-->
            </div>
            <div id="rule-visualiser-wrap-outer">
                <a id="rule-visualiser-wrap-trigger">
                    <img src="~/images/btn-rule_visualiser.png" width="30" height="11" alt="Rule Visualiser" /></a>
           
                <div id="rule-visualiser-wrap">
                    <h3>
                        Rule Visualiser</h3>
                    <div id="rule-visualiser" class="tabs">
                        <ul>
                            <li><a href="#tabs-1">Select Message</a></li>
                            <li><a href="#tabs-2">Select Field</a></li>
                        </ul>
                        <div id="tabs-1">
                            <p>
                                Proin elit arcu, rutrum commodo</p>
                            <div class="btn-wrap wide">
                                <ul>
                                    <li><a href="#dm-msg-selc-email-list" class="popup-inline">Select Message</a></li>
                                </ul>
                            </div>
                        </div>
                        <div id="tabs-2">
                            <p>
                                Morbi tincidunt, dui sit amet facilisis feugiat.</p>
                            <div class="btn-wrap wide">
                                <ul>
                                    <li><a href="#sic-select-field" class="popup-inline select-field-button">Select Field</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br class="clear" />
        </div>
    </div>
    <br class="clear" />
</div>
<!-- hidden div start -->
<div class="templates" style="display: none;">
    <div id="sic-table-template">
        @{
            DistributionManagement dm1 = (DistributionManagement)Model;
            DMset set1 = new DMset(dm1, 0, String.Empty, false, true);
            DMunit unit1 = new DMunit(set1, 0, String.Empty, false);
            DMappointment appointment = new DMappointment(unit1, 0, String.Empty);
            DMsic sicAction = new DMsic(null, 0, DMsic.SicType.Action);
            sicAction.DataFinalize();
            DMsic sicInfo = new DMsic(null, 0, DMsic.SicType.Info);
            sicInfo.DataFinalize();
            appointment.AddChild(sicAction);
            appointment.AddChild(sicInfo);
            Html.RenderPartial("_DMTable", appointment);
        }
    </div>
    <div id="dm-msg-selc-email-list">
        @{ Html.RenderPartial("_DMMessageList", null); }
    </div>
    <div id="sic-popup">
        @{ Html.RenderPartial("_DMPopupSic", null); }
    </div>
    <div id="sic-select-field">
        @{ Html.RenderPartial("_DMPopupSic", null); }
    </div>
    <!-- ADD SET -->

@*    <div id="add-set">
        <div class="popup-content">
            <div class="section">
                <div class="inner">
                    <h3>
                        Add Set</h3>
                    <div class="form-wrap">
                        <div class="row">
                            <label for="set-name-add">
                                Set Name</label>
                            <input type="text" class="txt required" id="set-name-add" name="set-name-add" value="" />
                            <br class="clear" />
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <ul>
                            <li><a href="#" class="add-set-submit">Submit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END ADD SET -->
    <div id="edit-set">
        <div class="popup-content">
            <div class="section">
                <div class="inner">
                    <h3>
                        Edit Set Name</h3>
                    <div class="form-wrap">
                        <div class="row">
                            <label for="set-name">
                                New Set Name</label>
                            <input type="text" class="txt required" id="set-name-edit" value="Set Name Here" />
                            <br class="clear" />
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <ul>
                            <li><a href="#" class="edit-set-submit">Submit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-set">
        <div class="popup-content">
            <div class="section">
                <div class="inner">
                    <h3>
                        Delete Set</h3>
                    <div class="form-wrap">
                        <p>
                            Do you want to delete this set?</p>
                    </div>
                    <div class="btn-wrap" style="margin: 0 auto; width: 205px;">
                        <ul>
                            <li><a href="#" class="delete-yes">Yes</a></li>
                            <li><a href="#" class="delete-no">No</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="copy-set">
        <div class="popup-content">
            <div class="section">
                <div class="inner">
                    <h3>
                        Copy Set</h3>
                    <div class="form-wrap">
                        <p>
                            Do you want to copy this set?</p>
                    </div>
                    <div class="btn-wrap" style="margin: 0 auto; width: 205px;">
                        <ul>
                            <li><a href="#" class="copy-yes">Yes</a></li>
                            <li><a href="#" class="copy-no">No</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="save-set">
        <div class="popup-content">
            <div class="section">
                <div class="inner">
                    <h3>
                        Save Set</h3>
                    <div class="form-wrap">
                        <p>
                            Do you want to save this set?</p>
                    </div>
                    <div class="btn-wrap" style="margin: 0 auto; width: 205px;">
                        <ul>
                            <li><a href="#" class="save-yes">Yes</a></li>
                            <li><a href="#" class="save-no">No</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cancel-save-set">
        <div class="popup-content">
            <div class="section">
                <div class="inner">
                    <h3>
                        Cancel Changes to Set</h3>
                    <div class="form-wrap">
                        <p>
                            Do you want to cancel changes to this set?</p>
                    </div>
                    <div class="btn-wrap" style="margin: 0 auto; width: 205px;">
                        <ul>
                            <li><a href="#" class="cancel-yes">Yes</a></li>
                            <li><a href="#" class="cancel-no">No</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="activate-set">
        <div class="popup-content">
            <div class="section">
                <div class="inner">
                    <h3>
                        Activate Set</h3>
                    <div class="form-wrap">
                        <p>
                            Do you want to <span id="set-activation-status"></span>this set?</p>
                    </div>
                    <div class="btn-wrap" style="margin: 0 auto; width: 205px;">
                        <ul>
                            <li><a href="#" class="activate-yes">Yes</a></li>
                            <li><a href="#" class="activate-no">No</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@    <div id="copy-sic">
        <div class="popup-content">
            <div class="section">
                <div class="inner">
                    <h3>Copy Sic</h3>
                    <div class="form-wrap">
                        <p>Do you want to copy this rule?</p>
                    </div>
                    <div class="form-wrap">
                        <select id="sic-unit" style="width: 200px">
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                    <div class="form-wrap">
                        <select id="sic-appointment" style="width: 200px">
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                    <div class="btn-wrap" style="margin: 0 auto; width: 205px;">
                        <ul>
                            <li><a href="#" class="copy-sic-yes">Yes</a></li>
                            <li><a href="#" class="copy-sic-no">No</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dm-alert">
        <div class="popup-content">
              <h3 style="position:relative; top:-18px">Title</h3>
            <div class="section">
                <div class="inner">
                    <div class="form-wrap">
                        <p>Message</p>
                    </div>
                    <div class="btn-wrap" style="margin: 0 auto; width: 205px;">
                        <ul>
                            <li><a href="#" class="answer-ok">Ok</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dm-confirm">
        <div class="popup-content">
            <div class="section">
                <div class="inner">
                    <h3>
                        Title</h3>
                    <div class="form-wrap">
                        <p>Message</p>
                    </div>
                    <div class="btn-wrap" style="margin: 0 auto; width: 205px;">
                        <ul>
                            <li><a href="#" class="answer-ok">Ok</a></li>
                            <li><a href="#" class="answer-cancel">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dm-prompt">
        <div class="popup-content">
            <div class="section">
                <div class="inner">
                    <h3>
                        Title</h3>
                    <div class="form-wrap">
                        <p>Message</p>
                    </div>
                    <div class="form-wrap">
                        <div class="row">
                            <input type="text" class="txt required" id="dm-input-box" name="dm-input-box" value="" />
                            <br class="clear" />
                        </div>
                    </div>
                    <div class="btn-wrap" style="margin: 0 auto; width: 205px;">
                        <ul>
                            <li><a href="#" class="answer-ok">Ok</a></li>
                            <li><a href="#" class="answer-cancel">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hidden div end -->
</div>
