@*================================================================================
          %name: Index.cshtml %
       %version: 2.1.7 %
      Copyright: Copyright 2012 BAE Systems Australia
                 All rights reserved.
================================================================================*@

@model BAE.Mercury.Client.Models.vmSicTreeNodes

@{
    ViewBag.Title = "Index";
}

@section CSS
{    
    <link href="@Url.Content("~/Content/SicBook.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{    
  <script src="@Url.Content("~/Scripts/sicBook.js")" type="text/javascript"></script>
}

<!-- Dynatree populates on this div: -->
<div id="addressBook">
  <table id="sic-book-table">
    <tr>
      <td class="table-label">Filter</td>
      <td>
        <input id="sicSearch" title="Enter 3 or more characters to trigger filtering" type="text" maxlength="100" value=""/>
        <input id="filter" type="hidden" value=""/>
      </td>
    </tr>
    <tr>
      <td class="table-label"></td>
      <td>
        <div id="tree" />
      </td>
    </tr>
    <tr>
      <td class="table-label">Selections</td>
      <td style="vertical-align: middle">
        <div id="sicSelections" class="sic-chest"></div>
      </td>
    </tr>
    <tr>
      <td />
      <td>
        <input id="btnAccept" type="button" value="Accept SICs" onclick="acceptSICs(this)" />
        <input id="btnCancel" type="button" value="Cancel" onclick="closeSicBook(this)" />
      </td>
    </tr>
  </table>
</div>


<script type="text/javascript">
  var getRootNodesUrl = '@Url.Action("GetRootNodesAsJson", "Sic")';
  var getChildrenUrl = '@Url.Action("GetChildrenAsJson", "Sic")';
  
  $( document ).ready( function()
  {    
    initSicBookModalWindow();
  } );
</script>
