@*// =================================================
//          %name: _NewMessageMenu.cshtml %
//       %version: 1 %
//      Copyright: Copyright 2012 BAE Systems Australia
//                 All rights reserved.
// =================================================*@

 
 
	<ul class="buttons">
		<li id="btn-send"><a href="javascript: submitForm();">Send</a><span>Send</span></li>
		<li id="btn-save"><a href="javascript: submitForm();">Save</a><span>Save</span></li>
		<li id="btn-discard"><a href="#">Discard</a><span>Discard</span></li>
		<li id="btn-attach"><a href="#" class="btn-drop-parent">Attach</a><span>attach</span>
			<div class="btn-drop"> <span><a href="#" class="first">XXX</a></span> <span><a href="#">XXX</a></span> </div>
		</li>
	</ul>
			 