@*=============================================================================
          %name: _SearchResults.cshtml %
       %version: 2 %
      Copyright: Copyright 2012 BAE Systems Australia
                 All rights reserved.
=============================================================================*@



@{
  <div class="group">
    <ul>
      <li><a href="#">Message contains: test</a></li>
    </ul>
  </div>
  <div class="group">
    <strong>People</strong>
    <ul>
      <li><a href="#"><span class="highlight">test</span>@@baesystems.com</a></li>
      <li><a href="#"><span class="highlight">test</span>ing@@gmail.com</a></li>
      <li><a href="#"><span class="highlight">test</span>er@@hotmail.com</a></li>
      <li><a href="#"><span class="highlight">test</span>@@yahoo.com</a></li>
      <li><a href="#">hello@@<span class="highlight">test</span>.com</a></li>
    </ul>
  </div>
  <div class="group">
    <strong>Subjects</strong>
    <ul>
      <li><a href="#">BAE <span class="highlight">Test</span></a></li>
      <li><a href="#"><span class="highlight">Test</span>ing</a></li>
      <li><a href="#"><span class="highlight">Test</span> Results</a></li>
    </ul>
  </div>
  <br class="clear" />
}