
@*================================================================================
           %name: _PrintLayout.cshtml %
       %version: 1 %
       Copyright: Copyright 2013 BAE Systems Australia
                  All rights reserved.
================================================================================*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
   @RenderSection("CSS", required: false)
</head>
<body>
   <div class="page">
        <div id="header">
           <div id="logo">
                    <a href="#">
                        <img alt="Mercury" src="~/images/bg-logo.png">
                    </a>
                </div>
        </div>
        <div id="main">
            @RenderBody()    
            <div class="clear"/>        
        </div>
        <div class="clear"/>
    </div>
</body>
</html>
