/**** DISTRIBUTION MANAGEMENT ****/

/* Left Column */
#setbox #mset-icon.dm { }
#setbox #mset-icon.dm li { list-style:none; display:block; margin:0 5%; padding:0; float:left; text-align:center; width:60px; }
#setbox #mset-icon.dm li:first-child { margin-left:15%; }
#setbox #mset-icon.dm li input[type="checkbox"] { position:absolute; right:0; }
#setbox ul#setbox-list li.set { position:relative; padding:0; }
#setbox ul#setbox-list li.set div.btn-set { position:absolute; right:10px; top:7px; background-image:none; }
#setbox ul#setbox-list li.set div.btn-set.open {background:none;}
#setbox ul#setbox-list li.set div.btn-set a { border:none; padding:0; background:none; display:block; float:left; margin:0 0 0 5px; }
#setbox ul#setbox-list li.set div.btn-set a.checkbox {background:url(../images/icon-dm_checkbox.png) 0 0 no-repeat; width:25px; height:24px; text-indent:-9999px;}
#setbox ul#setbox-list li.set div.btn-set a.checkbox.on {background-position:0 -24px;}
#setbox ul#setbox-list li.set li.lock a { background-image:url(../images/icon-dm_lock.png); background-repeat:no-repeat; background-position:12px 9px; }
#setbox p.title { color:#fff; padding:0 10px 10px; margin:0 0 10px 0; overflow:hidden; border-top:2px solid #343434; padding-top:10px; }
/*
#setbox p.title a#btn-add-set { background:url(../images/bg-abm_buttons.png) -25px 0; no-repeat; display: block; width: 25px; height: 24px; text-indent: -9999px; float: right; margin:0; }
#setbox p.title a#btn-add-set:hover { background-position:-25px -24px; }
#setbox p.title strong a {float: left; background: none; display: block; width: 25px; height: 24px; margin:0 2px 0 0;}
*/
/* Middle Column */
/**** SEARCH ****/
#search-sic-box {margin:0 0 10px 0;}
#search-sic-box #search-sic { background:url(../images/bg-search.png) top left no-repeat; height:18px; width:130px; padding:5px 5px 5px 25px; border:none; color:#525252; font-size:12px; float:left; }
#search-sic-box a.remove { background:url(../images/bg-search_remove.png) top right no-repeat; width:20px; height:28px; position:absolute; right:45px; top:13px; display:none; }
#search-sic-box .search-right { background:url(../images/bg-search.png) top right no-repeat; width:20px; height:28px; display:block; float:left; margin-left:-2px; }

#graph { border:1px solid #e4e4e4; background:#fff; margin:0; clear:both; overflow:auto; height:300px; }
#graph > div { padding:20px; }
#rule-visualiser { width:97%; margin:0 0 20px 0; background:none; border:none; border-radius:0; padding:0; font:12px/18px Arial, Helvetica, sans-serif!important; }
#rule-visualiser * { font:12px/18px Arial, Helvetica, sans-serif; }
#rule-visualiser .ui-tabs-nav { background:none; border:none; margin:0; padding:0; }
#rule-visualiser .ui-tabs-nav li a { }
#rule-visualiser .ui-tabs-panel { background:#fff; border:1px solid #e4e4e4; padding:10px; }
#rule-visualiser .ui-tabs-panel p { margin:0 0 5px 0; }
#rule-visualiser .ui-state-active, #rule-visualiser .ui-state-hover { background:#fff!important; border:1px solid #e4e4e4!important; border-bottom:1px solid #fff!important; }
#rule-visualiser .ui-tabs-nav li.ui-state-default {border-bottom:none!important;}
#select-field { margin:0; }
#select-field li { list-style:none; padding:0 0 10px 0; overflow:hidden; position:relative; }
#select-field li input, #select-field li select { float:left; margin:0 10px 0 0; width:40%; min-width:100px; background: #FFFFFF; border: 1px solid #DCDCDC; padding: 5px 2px; }
#select-field li select { padding:4px 2px; }
#select-field li .btn-add { float:left; }
#select-field li .btn-add a { display:block; float:left; background:url(../images/btn-plusminus.png) 0 0 no-repeat; width:17px; height:17px; text-indent:-9999px; margin:5px 5px 0 0; }
#select-field li .btn-add a.btn-minus { background-position:0 -17px; }
#rule-visualiser-wrap { overflow:hidden; }

/* Style for nodes */
#graph .node { background:#e7e7e8; padding:5px; width:110px; border-radius:20px; text-align:center; border:1px solid #e7e7e8; position:relative; }
#graph .node.wide { width:110px; border-radius:5px; position:relative; }
#graph .node p { margin:0; }
#graph .node.action { background:#b6d2eb; border:1px solid #b6d2eb }
#graph .node.info { background:#bcdc96; border:1px solid #bcdc96 }
#graph .node.action.dotted { border:1px dashed #95a584; }
#graph .node.info.dotted { border:1px dashed #8496a5; }
#graph .node.infoaction { background:url(../images/bg-node_action_info.png) center center repeat-x; padding:6px; border:none; }
#graph .node.expandible { padding-right:10px; width:105px; }
#graph .node.expandible .arrow { background:url(../images/btn-dm_arrow.png) 0 0 no-repeat; display:block; width:8px; height:8px; position:absolute; right:5px; top:50%; cursor:pointer; }
#graph .node.expandible .expand { height:200px; overflow:auto; display:block; position:absolute; right:0; background:#e5f5fc; z-index:99; padding:5px; width:110px; top:auto; border-radius:5px; display:none; }
#graph .node.vertical { border-radius:5px; margin-top:60px; margin-left:-35px; }
#graph .node.vertical { /* Safari */
-webkit-transform: rotate(-90deg); /* Firefox */
-moz-transform: rotate(-90deg); /* IE */
-ms-transform: rotate(-90deg); /* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* Style for icons */
#graph .node-btn { }
#graph .node-btn a { display:block; margin:0 2px 3px; text-indent:-9999px; }
#graph .node-btn.inline { overflow:hidden; }
#graph .node-btn.inline a { float:left; }
#graph .node-btn a.add, #graph .node-btn a.delete, #graph .node-btn a.edit { width:13px; height:13px; background:url(../images/icon-node_plusminus.png) 0 0 no-repeat; }
#graph .node-btn a.add:hover { background-position:-13px 0; }
#graph .node-btn a.delete { background-position:0 -13px; }
#graph .node-btn a.delete:hover { background-position:-13px -13px; }
#graph .node-btn a.edit { background-position:0 -26px; }
#graph .node-btn a.edit:hover { background-position:-13px -26px; }
#graph .node-btn a.yes, #graph .node-btn a.no { width:14px; height:13px; background:url(../images/btn-dm_yesno.png) 0 0 no-repeat; }
#graph .node-btn a.no { background-position:bottom left; }
#graph .node-btn a.stop, #graph .node-btn a.stopdisable { width:28px; height:27px; background:url(../images/btn-dm_stop.png) 0 0 no-repeat; }
#graph .node-btn a.stopdisable { background-position:0 -27px; }
#graph .node-btn a.actioninfo { }

/**** NEW GRAPH ****/
#graph .row { overflow:hidden; margin:0 0 5px 0; color:#fff; font-size:12px; }
#graph .row .col { float:left; border-radius:5px; }
#graph .row .col span { padding:10px; }
#graph .row .col span.highlight { background:yellow; padding:0 2px; border-radius:2px; color:black }
#graph .row .col.unit { width:29%; margin:0 1% 0 0; background:blue; height:22px; }
#graph .row .col.sic { width:59%; margin:0 1% 0 0 }
#graph .row .col.sic .item { margin:0 0 1px 0; border-radius:5px; height:21px; line-height:21px; }
#graph .row .col.control { width:10%;  }
#graph .row .col.unit.h1 { height:22px; }
#graph .row .col.unit.h2 { height:44px; }
#graph .row .col.unit.h3 { height:66px; }
#graph .row .col.unit.h4 { height:88px; }
#graph .row .col.unit.h5 { height:110px; }
#graph .row .col.unit.h6 { height:66px; }
#graph .row .col.unit.h7 { height:66px; }
#graph .row .col.unit.h8 { height:66px; }

/**** RULE VISUALISER */
#rule-visualiser-wrap-outer {position:absolute; bottom:20px; left:20px; display:none;}
#rule-visualiser-wrap-trigger {margin-bottom:-2px; display:block; border-bottom:1px solid #c7c7cb; cursor:pointer; }
#rule-visualiser-wrap {background:#ececec; padding:10px; border:1px solid #c7c7cb; border-radius:5px; border-top-left-radius: 0;}

.canvas table { border:0; margin:0; padding:0; }
div.templates {display:none}
div.unit {font:12px Arial, Helvetica, sans-serif; background-color:#3c3c3c; padding:10px 20px; border-radius: 5px; }
div.unit-title { text-align:center; margin:auto; color:#fff; font-weight:bold; }
div.canvas { vertical-align:middle; position:relative; left:-170px; width:110%; }
div.user { width:400px; height:25px; line-height:25px; font-weight:bold; text-align:center; margin:10px auto 20px; vertical-align:middle; background:url(../images/bg-node_blue_highlight.png) center center repeat-x; border-radius:5px; color:#fff; }
table.appointment { vertical-align:middle; font:12px Arial, Helvetica, sans-serif; border:0; margin:0 0 15px 0!important; padding:0; }
td.appointment { vertical-align:middle; width:200px;;}
div.appointment { position:relative; padding-left:20px; padding-right:20px; left:200px; font-weight:bold; color:#000; overflow:hidden; width:170px;}
td.cinfo { width:200px; background:#e2ebe1;}
td.caction { width:200px; background:#abdceb; }
table.action {}
td.sic { vertical-align:middle; padding:2px 10px;}
span.sic { display:block; background:#fff; height:23px; line-height:23px; padding:0 5px; border-radius:5px; overflow:hidden;white-space: nowrap; text-overflow: ellipsis;-o-text-overflow: ellipsis;-ms-text-overflow: ellipsis; min-width:135px;}



td.sic a {color:#3C3C3C;}


td.action span.sic { background:#abdceb url(../images/bg-node_blue.png) center center repeat-x;}
td.info span.sic {background:#e2ebe1 url(../images/bg-node_green.png) center center repeat-x; }

td.add { vertical-align:bottom; width:26px;}
td.add a {display:block; margin-bottom:4px;}
td.delete, td.edit, td.copy { vertical-align:middle; width:26px;}
div#cover { z-index:1000; position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; vertical-align:middle; padding-top:25%; background-color:gray; zoom: 1; filter: alpha(opacity=50); opacity: 0.5; }
div.edit { z-index:10001; position:absolute; top:50%; left:50%;width:400px; background-color:black; text-align:center; }
div.edit input { margin:20%; width: 20em; }
div.edit div { margin:20%; text-align:center; background-color:gray; width:200px; }
div.set {}
span.set-name { /*background-color:red;*/  width:20px; cursor:pointer;}
div.sic-type {width:200px}
div.sic-input {width:300px}
div.sic-input input{width:300px;text-transform:uppercase;}


/* Style on highlight */
td.cinfo.highlight { background:#ebddab;}
td.caction.highlight { background:#01A6D6; }
td.action.highlight span.sic { background:#01a6db url(../images/bg-node_blue_highlight.png) center center repeat-x;}
td.info.highlight span.sic {background:#ebdda6 url(../images/bg-node_green_highlight.png) center center repeat-x; }

td.first {border-top-left-radius: 5px;border-top-right-radius: 5px;}
td.last {border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}

div.canvas table { border:0; margin:0; padding:0; }
div.templates {display:none}

div.canvas table { border:0; margin:0; padding:0; width:100%; }
div.templates {display:none}

div.appointment-empty-wrap {padding:0}
div.appointment-empty {height:26px;background-color:#fff; width:200px;}

div.no-app {background-color:#fff;font-weight: bold;height: 25px;line-height: 25px;margin: auto;position: relative;text-align: center;width: 100%;}

div#xcover { display:none; z-index:1000; position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; vertical-align:middle; padding-top:25%; background-color:red; }

/* Styling for Message List */
div#content.rv-popup {}
div#content.rv-popup .col-middle  {width:93%; margin:20px 15px; border-right:none;}
div#content.rv-popup .col-middle #search-inbox {width:515px;}
div#content.rv-popup #listContainer {overflow:auto!important;}
div#content.rv-popup .msg_id_ref {display:none;}

div#content.rv-popup .message-summary {width:90%;}


div.ui-tooltip {width: 400px;}